body {
    font-family: sans-serif;
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    padding: 50px;
    color: #333;
}

#header {

    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 0;
    color: black;
}

.green-text {
    color: green;
}

#icon {
    width: 40px;
    height: 40px;
}

#content {
    margin-top: 10px;
    font-size: 20px;
}

h2 {
    color: #4CAF50;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: 5px auto;
}

.details {
    font-size: 18px;
    text-align: left;
    margin-left: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.thumbs-up img {
    width: 25px; /* Set the width of the thumbs-up image */
    text-align: left;
    margin-right: 0px; /* Adjust margin between thumbs-up and "Details:" text */
    margin-top: 0px;
}

.ingredient {
    font-size: 14px;
    text-align: left;
    margin-left: 0px; /* Adjust the margin between the thumbs-up and "Ingredient" */
    margin-top: 0px;
}

.thumbs-down img {
    width: 20px; /* Set the width of the thumbs-up image */
    text-align: left;
    margin-right: 0px; /* Adjust margin between thumbs-up and "Details:" text */
    margin-top: 0px;
}

.ingredient2 {
    font-size: 14px;
    text-align: left;
    margin-left: 0px; /* Adjust the margin between the thumbs-up and "Ingredient" */
    margin-top: 0px;
}
